body {
    font-family: "Montserrat-Regular", sans-serif;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url("font/Montserrat-Regular.ttf");
}

.main-container {
    overflow-x: hidden;
    overflow-y: auto;
}

.bg-1 {
    background: fixed url("../images/Sections background/section-1(header).jpg");
    background-size: 100vw;
}

.bg-2 {
    background: fixed url("../images/Sections background/section-2.jpg");
    background-size: 100vw;
}

.bg-3 {
    background: fixed url("../images/Sections background/section-3.jpg");
    background-size: 100vw;
}

.header {
    background-color: rgba(0, 0, 0, 0.3);
}

a {
    display: block;
    text-decoration: none;
}

header {
    height: 120px;
}

.search-div {
    width: 20px;
    height: 20px;
    right: 150px;
    top: 50px;
    position: absolute;
}

.search {
    color: #b8b8b8;
}

.container {
    position: relative;
    width: 1160px;
    margin: 0 auto;
}

.logo {
    align-items: center;
    position: absolute;
    top: 42px;
    text-align: center;
    line-height: 36px;
    color: white;
}

.hexagon {
    margin-right: 7px;
    float: left;
    width: 60px;
    height: 36px;
    background-color: #18cfab;
    font-size: 40px;
}

.hexagon:after {
    position: absolute;
    left: 0;
    bottom: 41px;
    content: "";
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 16px solid #18cfab;
}

.hexagon:before {
    position: absolute;
    left: 0;
    top: 36px;
    content: "";
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 16px solid #18cfab;
}

.logo-text-p1 {
    color: #ffffff;
    font-size: 32px;

}

.logo-text-p2 {
    color: #18cfab;
    font-size: 32px;
    font-weight: bold;
}

nav {
    width: 650px;
    float: right;
}

nav ul {
    display: flex;
}

nav li {
    flex: 1 auto;
}

nav a {
    color: #b8b8b8;
    text-align: center;
    line-height: 120px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: bold;
}

nav a:hover {
    color: #18cfab;
    border-bottom: 2px solid #18cfab;
}

p {
    text-align: center;
}

.text_1 {
    margin: 245px 0 45px 0;

}

.ham-text {
    font-size: 35px;
    color: white;
    font-weight: bold;
}

.wordpress-text {
    font-size: 35px;
    color: #18cfab;
    font-weight: bold;

}

.text_2 {
    font-size: 79px;
    color: white;
    margin-bottom: 35px;
    font-weight: bold;

}

.text_3 {
    font-size: 34px;
    color: #cccccc;
    margin-bottom: 140px;

}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 360px;
    margin: 0 auto;
    padding-bottom: 240px;
}

.explore {
    width: 165px;
    height: 65px;
    background-color: #18cfab;
    border-top: 5px solid white;
    border-radius: 5px;

}

.explore a {
    color: white;
    text-align: center;
    line-height: 65px;
    font-size: 13px;
    font-weight: bold;

}

.purchase {
    width: 165px;
    height: 65px;
    background-color: #00cbf6;
    border-top: 5px solid white;
    border-radius: 5px;
    margin: 0 auto;
}

.purchase a {
    color: white;
    text-align: center;
    line-height: 65px;
    font-size: 13px;
    font-weight: bold;

}

.four-block {
    display: flex;
    width: 100%;
}

.block {
    width: 25%;
    height: 375px;
    position: relative;
}

.block_1 {
    background-color: #1c2a33;
    border-top: 5px solid #18cfab;

}

.block_2 {
    background-color: #18cfab;
    border-top: 5px solid #ffffff;
}

.form_1 {
    text-align: center;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translateX(-50%);
}

.form_2 {
    text-align: center;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translateX(-50%);
}

.block-text_1 {
    color: #18cfab;
    font-size: 20px;
    margin-top: 230px;
    font-weight: bold;

}

.block-text_2 {
    color: #ffffff;
    font-size: 20px;
    margin-top: 230px;
    font-weight: bold;

}

.white {
    height: 400px;
    width: 100px;
}

.section-content-1 {
    background-color: #ffffff;
}

.section-content-2 {
    background-color: #f8fcfe;
}

.section-title {
    font-size: 36px;
    color: #4e4e4e;
    text-align: center;
    padding-top: 80px;
}

.lines:before {
    content: "";
    display: block;
    width: 75px;
    height: 35px;
    border-bottom: 1px solid #18cfab;
    margin: 0 46.5% 3px;
}

.lines:after {
    content: "";
    display: block;
    width: 75px;
    height: 65px;
    border-top: 1px solid #18cfab;
    margin: 0 47.5%;
}

.tabs-caption {
    display: flex;
}

.tabs-caption li {
    flex: 1 auto;
    background: #f8fcfe;
    position: relative;
    border: 1px solid #ebebeb;
    text-align: center;
    line-height: 70px;
}

.tabs-caption li:not(.active) {
    cursor: pointer;
}

.tabs-caption li.active {
    background: #18cfab;
    color: #ffffff;
    border: none;
}

.tabs-caption li.active:before {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    content: "";
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #18cfab;
}

.tabs-content {
    display: flex;
    padding: 25px 0 100px 0;
}

.tabs-img {
    margin-right: 20px;
}

.tabs-paragraph {
    line-height: 20px;
    text-align: justify;

}

.tabs-content {
    display: none;
}

.tabs-content.active {
    display: flex;
}

.everything {
    font-size: 40px;
    color: #18cfab;
    padding: 125px 0 35px 0;
    font-weight: bold;

}

.smooth {
    font-size: 16px;
    color: #d8d8d8;
    padding-bottom: 75px;
}

.layer {
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 125px;
}

.tabs-caption-2 {
    width: 710px;
    margin: 0 auto 70px auto;
    display: flex;
    justify-content: space-between;
}

.tabs-caption-2 li {
    flex: 1 auto;
    background: #ffffff;
    color: #717171;
    border: 1px solid #ebebeb;
    text-align: center;
    line-height: 60px;
}

.tabs-caption-2 li:not(.active) {
    cursor: pointer;
}

.tabs-caption-2 li.active {
    color: #18cfab;
    border-top: 2px solid #18cfab;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
}

.img-block {
    display: block;
    max-width: 100%;
    height: 100%;
}

.btn-load-more {
    margin-top: 70px;
    padding-bottom: 100px;
}

.load-more {
    color: #ffffff;
    width: 165px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    background-color: #18cfab;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: bold;
}

.item {
    position: relative;
}

.background-info {
    position: absolute;
    width: 100%;
    height: 0;
    color: #000;
    background-color: #f8fcfe;
    top: 0;
    left: 0;
    transition: height 0.75s;
    overflow: hidden;
}

.item:hover .background-info {
    height: 100%;
    border-top: 2px solid #18cfab;
}

.circles {
    display: flex;
    justify-content: center;
    margin: 40px auto 30px;
}

.circle-1 {
    width: 40px;
    height: 40px;
    border: 1px solid #18cfab;
    border-radius: 20px;
    margin-right: 5px;
    position: relative;
}

.circle-2 {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #18cfab;
    position: relative;
}

.chain, .search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.creative-design {
    color: #18cfab;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
}

.web-design {
    color: #4e4e4e;
    font-size: 12px;
}

.breaking-news-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 90px;
}

.card {
    position: relative;
    margin-bottom: 45px;
}

.by-admin {
    height: 75px;
    background-color: #f8fcfe;
    border: 1px solid #ebebeb;
    color: #717171;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin: 15px 0 15px 15px;
}

.admin {
    margin-left: 15px;
}

.admin:after {
    content: "";
    width: 0;
    height: 14px;
    border-right: 1px solid #717171;
    margin-left: 15px;
    margin-right: 10px;
}

.cube {
    position: absolute;
    top: 0;
    right: 0;
    width: 65px;
    height: 65px;
    background-color: #203e38;
    font-size: 16px;
    color: #ffffff;
}

.date {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.month {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.card:hover .cube {
    background-color: #18cfab;
}

.card:hover .card-title {
    color: #18cfab;
}

/*================================*/

.quotes {
    text-align: center;
    margin-bottom: 40px;
}

.text {
    color: #717171;
    font-size: 16px;
    line-height: 30px;
    padding: 0 25px 40px 25px;
    text-align: center;

}

.name {
    text-align: center;
    color: #18cfab;
    font-size: 16px;
    padding-bottom: 15px;
}

.position {
    color: #717171;
    font-size: 13px;
    text-align: center;
    margin-bottom: 25px;
}

/*Slider*/

.slider-container {
    width: 485px;
    margin: 0 auto;

}

.slider-for {
    margin: 0 auto 50px auto;
}

.wrap {
    width: 146px;
    height: 146px;
    border-radius: 146px;
    background-color: #18cfab;
    margin: 0 auto;
    position: relative;
    border: 10px solid #093834;
}

.sl-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 140px;
    border-radius: 70px;
    margin: 0 auto 50px auto;
    overflow: hidden;

}


.sl-small-img img {
    width: 70px;
    height: 70px;
    border: 4px solid rgba(24, 207, 171, 0.2);
    border-radius: 70px;
    margin-left: 90px;
}

